<span><a class=""
    https://www.linkedin.com/sharing/share-offsite/?url={{ article.url}}
    href="https://www.linkedin.com/sharing/share-offsite/?url={{ article.url}}"
    target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin"></i>
    LinkedIn</a></span>
<!--<span><a class=""
    href="mailto:alex.stelmakh1@gmail.com?subject={{ article.title | replace('-', '%20') }}&amp;body={{ article.url | urlencode }}"
    target="_blank" title="Share via Email"><i class="fas fa-envelope"></i>
    Email</a></span>
<span><a class=""
    href="https://www.reddit.com/submit?url={{ article.url | replace(':', '%3A') | replace('/', '%2F') }}&title={{ article.title | replace('-', '%20') }}"
    target="_blank" title="Share via Reddit"><i class="fab fa-reddit"></i>
    Reddit</a></span>
<span><a class=""
    href="https://t.me/share/url?url={{ article.url | replace('/', '%2F') | replace(':', '%3A') }}&text={{ article.title | replace('-', '%20') }}"
    target="_blank" title="Share via Telegram"><i class="fab fa-telegram"></i>
    Telegram</a></span>-->